{% load static %}
{% if requires_login %}
    <div class="flex items-center justify-center h-full opacity-50 blur-sm pointer-events-none"
         x-data
         x-init=" setTimeout(() => { $dispatch('open-auth-modal'); htmx.ajax('GET', '{% url 'htmx_auth_options' %}', {target: '#auth-modal-content'}); }, 500) ">
        <div class="relative h-full w-full overflow-hidden">
            <div class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 p-10">
                <div class="flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         height="96px"
                         viewBox="0 -960 960 960"
                         width="96px"
                         fill="#ccc">
                        <path d="M360-240h220q17 0 31.5-8.5T632-272l84-196q2-5 3-10t1-10v-32q0-17-11.5-28.5T680-560H496l24-136q2-10-1-19t-10-16l-29-29-184 200q-8 8-12 18t-4 22v200q0 33 23.5 56.5T360-240ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="flex flex-col justify-center items-center h-full gap-8">
        <div class="flex flex-col gap-4 w-full">
            <div class="intersect-once intersect:motion-preset-slide-up motion-delay-700">
                <c-voting-logo />
            </div>
            <div class="intersect-once intersect:motion-preset-slide-up motion-delay-1000">
                <c-voting-player-info player_name="{{ player.name }}" />
            </div>
        </div>
        {% if layers %}
            <div class="py-0 intersect-once intersect:motion-preset-slide-up motion-delay-700">
                <c-voting-cosound>
                    {% for layer in layers %}
                        <c-voting-cosound-layer layer_id="{{ layer.id }}"
                                                sound_id="{{ layer.sound_id }}"
                                                layer_type="{{ layer.layer_type }}"
                                                gain_level="{{ layer.gain_level }}"
                                                sound_name="{{ layer.sound_name }}"
                                                recording_artist="{{ layer.recording_artist }}"
                                                artwork_url="{{ layer.artwork_url }}"
                                                liked="{{ layer.liked|yesno:'true,false' }}" />
                    {% endfor %}
                </c-voting-cosound>
            </div>
        {% endif %}
        <div class="intersect-once intersect:motion-preset-slide-up motion-delay-[800ms]">
            <c-voting-buttons upvote="{{ voter_data.vote_value }}"
                              waiting_time="{{ voter_data.waiting_time }}"
                              username=" {{ voter_data.username }}"
                              avatar_url="{{ voter_data.avatar_url }}" />
        </div>
        {% if voter_data %}
            <div class="max-w-96">
                <c-voting-voter-card votes_here="{{ voter_data.votes_here }}"
                                     total_votes="{{ voter_data.total_votes }}"
                                     join_date_iso="{{ voter_data.join_date_iso }}"
                                     local_badge="{{ voter_data.local_badge }}"
                                     global_badge="{{ voter_data.global_badge }}"
                                     age_badge="{{ voter_data.age_badge }}" />
            </div>
        {% endif %}
        <c-voting-other-voters />
        <div class="pt-4">
            <c-voting-extra-buttons is_anonymous="{{ voter_data.is_anonymous }}" />
        </div>
    </div>
{% endif %}
