<form class="w-full"
      x-data="{ pressed: false, email: '', submittedEmail: '', loading: false }"
      @submit="submittedEmail = email; pressed = true; loading = true"
      @htmx:after-request="if($event.detail.xhr.getResponseHeader('HX-Retarget') === '#collect-login-alerts') { loading = false; pressed = false }"
      hx-post="{% url 'home:collect_check_email' %}"
      hx-target="#collect-login-body"
      hx-swap="innerHTML swap:300ms settle:300ms">
    {% csrf_token %}
    <input type="hidden" name="email" :value="submittedEmail || email" />
    <div class="join w-full">
        <div class="w-full -mb-6">
            <label class="input validator join-item w-full" :disabled="loading">
                <svg class="h-[1em] opacity-50"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24">
                    <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
                    <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                    <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                    </g>
                </svg>
                <input class="w-full"
                       type="email"
                       x-model="email"
                       placeholder="Enter Email Address"
                       :disabled="loading"
                       required />
            </label>
            <div class="validator-hint hidden">Email address is not Valid.</div>
        </div>
        <button type="submit"
                class="btn btn-neutral join-item swap items-center justify-center"
                :class="{ 'swap-active': pressed, 'btn-disabled': loading }">
            <span class="swap-off w-full">LOGIN</span>
            <span class="swap-on loading loading-infinity loading-lg w-full"></span>
        </button>
    </div>
</form>
