<div class="join w-fit ring-4" x-data rounded-none>
    <template x-for="(layer, index) in $store.soundLayers.layers" :key="layer.sound_id">
        <button type="button"
                class="font-mono join-item btn-sm btn btn-neutral border-none w-7.5 h-7 rounded-none"
                :class="[ $store.soundLayers.currentIndex === index ? '!text-white text-xl font-extrabold' : ' text-gray-300 text-xs font-light', $store.soundLayers.swappingLayer ? '!bg-neutral-content transition-none' : '', $store.soundLayers.currentIndex === index && $store.soundLayers.swappingLayer ? 'text-shadow-lg/30 motion-preset-pulse-sm motion-delay-500 pointer-events-none' : '', $store.soundLayers.currentIndex !== index && $store.soundLayers.swappingLayer ? '!text-neutral/40 pointer-events-none' : '' ]"
                :style="$store.soundLayers.swappingLayer ? '' : `opacity: ${(layer.mute ? 50 : 50 + (layer.gain || 0) * 0.5) / 100};`"
                @click="$store.soundLayers.currentIndex === index ? (layer.mute = !layer.mute) : $dispatch('carousel-goto', index)"
                x-text="index + 1"></button>
    </template>
</div>
