<span class="select-none w-full flex flex-row items-center justify-between">
    <span class="text-rotate text-center leading-[2] duration-6000">
        <span>
            <span class="bg-base-300 text-base-content w-full px-2 rounded">Adaptive</span>
            <span class="bg-base-300 text-base-content w-full px-2 rounded">Communal</span>
            <span class="bg-base-300 text-base-content w-full px-2 rounded">Personal</span>
        </span>
    </span>
    <span class="text-rotate text-center leading-[2]">
        <span>
            <span class="bg-teal-400 text-teal-800 w-full px-2 rounded">Ocean</span>
            <span class="bg-red-400 text-red-800 w-full px-2 rounded">Fire</span>
            <span class="bg-blue-400 text-blue-800 w-full px-2 rounded">Rain</span>
        </span>
    </span>
    <span class="text-rotate text-center leading-[2] duration-9000">
        <span>
            <span class="bg-base-300 text-base-content w-full px-2 rounded">Ambience</span>
            <span class="bg-base-300 text-base-content w-full px-2 rounded">Sounds</span>
            <span class="bg-base-300 text-base-content w-full px-2 rounded">Melodies</span>
        </span>
    </span>
</span>
