<c-vars role="Listener"
        primary_stat_label="Cosounds"
        primary_stat_value=""
        secondary_stat_label="Member"
        secondary_stat_value="" />
<div class="w-full max-w-72 h-56 overflow-y-hidden rounded-4xl shadow-sm">
    <div class="flex h-1/3 flex-row items-center justify-between bg-secondary px-6 text-secondary-content font-semibold">
        <div>{{ role }}</div>
        <a href="{% url 'login:logout_modal' %}"
           hx-get="{% url 'login:logout_modal' %}"
           hx-swap="none">Logout</a>
    </div>
    <div class="flex w-full flex-col items-center justify-center gap-1 px-4 text-base-content">
        <div class="flex h-20 w-full flex-row items-end justify-between pb-5">
            <div class="flex w-1/3 flex-col">
                <div class="text-[7pt] font-extrabold uppercase">{{ primary_stat_label }}</div>
                <div class="text-2xl">
                    {% if primary_stat_value != "" %}
                        {{ primary_stat_value }}
                    {% else %}
                        {{ user.soundmix_set.count }}
                    {% endif %}
                </div>
            </div>
            <div class="avatar max-w-24">
                <div class="rounded-full ring-4 ring-primary-content/80">
                    {% if user.avatar %}
                        <img src="{{ user.avatar.url }}" alt="{{ user.username }}" />
                    {% else %}
                        <img src="https://api.dicebear.com/9.x/micah/svg?seed={{ user.pk }}&backgroundColor=b6e3f4&scale=110&translateY=-7"
                             alt="{{ user.username }}" />
                    {% endif %}
                </div>
            </div>
            <div class="flex w-1/3 flex-col text-right">
                <div class="text-[7pt] font-extrabold uppercase">{{ secondary_stat_label }}</div>
                <div class="text-2xl">
                    {% if secondary_stat_value != "" %}
                        {{ secondary_stat_value }}
                    {% else %}
                        {{ user.created_at|timesince }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="badge badge-soft badge-xl font-bold badge-primary">{{ user.username }}</div>
    </div>
</div>
