{% load static %}
<div class="select-none relative flex justify-center items-center">
    <div class="relative motion-preset-oscillate-sm motion-duration-1500">
        <div class="absolute inset-5 rounded-full bg-linear-to-r from-primary via-accent to-info opacity-50 blur-lg animate-[spin_5s_linear_infinite]">
        </div>
        <div class="relative flex h-24 w-24 items-center justify-center rounded-full bg-transparent">
            <img src="{% static 'core/img/logo.png' %}"
                 alt="cosound"
                 class="h-24 w-24 object-contain drop-shadow-sm drop-shadow-secondary">
        </div>
    </div>
</div>
