<c-vars sound_id=""
        sound_url=""
        sound_title=""
        sound_artist=""
        sound_type=""
        artwork_url="" />
<div id="slide-{{ sound_id }}"
     class="carousel-item w-full mx-4"
     data-sound-url="{{ sound_url }}"
     data-sound-id="{{ sound_id }}"
     data-sound-title="{{ sound_title }}"
     data-sound-artist="{{ sound_artist }}"
     data-sound-type="{{ sound_type }}">
    <div class="relative w-full">
        <div class="skeleton w-full aspect-square rounded-box absolute inset-0"></div>
        <img src="{{ artwork_url }}"
             alt="{{ sound_title }}"
             class="w-full object-cover rounded-box relative"
             onload="this.previousElementSibling.classList.add('hidden')" />
        <div class="absolute inset-0 rounded-box pointer-events-none bg-[linear-gradient(to_bottom,rgba(0,0,0,0.8)_0%,transparent_40%,transparent_60%,rgba(0,0,0,0.8)_100%)]">
        </div>
    </div>
</div>
