<div id="content"
     class="flex flex-col h-auto w-full items-center motion-preset-blur-up-sm motion-duration-700 motion-delay-400 transition-all ease-in-out duration-1000 delay-300 htmx-swapping:motion-delay-100/scale htmx-swapping:motion-delay-0/opacity htmx-swapping:motion-delay-200/translate htmx-swapping:delay-200 htmx-swapping:duration-600 htmx-swapping:motion-duration-400 htmx-swapping:motion-scale-out-75 htmx-swapping:-motion-translate-y-out-[8%] htmx-swapping:motion-opacity-out-0 htmx-swapping:overflow-hidden htmx-swapping:max-h-0"
     x-data="{ loading: false }">{{ slot }}</div>
