<c-vars player_name player_photo_url manager_name manager_logo_url section choice />
<c-core-content>
    <c-vote-content>
        <div class="motion-preset-blur-down-lg motion-duration-700 motion-delay-500 h-fit min-h-30 flex flex-col items-center justify-center w-full">
            <div id="vote_alerts" class="stack w-full max-w-72 -mt-8">
                <c-core-subtitle />
            </div>
        </div>
        <div class="relative max-w-96 w-full mb-5">
            <div class="motion-preset-blur-up-lg motion-duration-500 motion-delay-300 card bg-base-200 text-base-content w-full shadow">
                <c-vote-player-detail :player_name="player_name"
                                      :player_photo_url="player_photo_url"
                                      :manager_name="manager_name"
                                      :section="section"
                                      :choice="choice" />
                {{ slot }}
            </div>
            <c-vote-manager-logo :manager_logo_url="manager_logo_url" />
        </div>
    </c-vote-content>
</c-core-content>
