<li class="list-row items-center">
    <div>
        <template x-if="mix.layers[0] && mix.layers[0].artwork_url">
            <img class="size-10 rounded-box" :src="mix.layers[0].artwork_url" />
        </template>
    </div>
    <div class="min-w-0">
        <div class="truncate" x-text="mix.title || 'Untitled'"></div>
        <div class="text-xs uppercase font-semibold opacity-60"
             x-text="new Date(mix.created_at).toLocaleDateString() + ' · ' + mix.layers.length + ' layers'"></div>
    </div>
    <button type="button" class="btn btn-square btn-ghost" @click="loadMix(mix)">
        <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor">
                <path d="M6 3L20 12 6 21 6 3z"></path>
            </g>
        </svg>
    </button>
</li>
