{% load static %}
<div class="relative flex justify-center items-center pb-3">
    <div class="relative motion-preset-oscillate-sm motion-duration-1000">
        <div class="absolute inset-2 rounded-full bg-linear-to-r from-primary via-secondary to-accent opacity-50 blur-lg animate-[spin_24s_linear_infinite]">
        </div>
        <div class="relative flex h-32 w-32 items-center justify-center rounded-full bg-transparent">
            <img src="{% static 'core/img/logo.png' %}"
                 alt="cosound"
                 class="h-32 w-32 object-contain drop-shadow-lg drop-shadow-blue-200">
        </div>
    </div>
</div>
