{% load static %}
<div class="relative flex justify-center items-center pb-1">
    <div class="relative motion-preset-oscillate-sm motion-duration-1000">
        <div class="absolute inset-3 rounded-full bg-linear-to-r from-primary via-accent to-info opacity-50 blur-lg animate-[spin_24s_linear_infinite]">
        </div>
        <div class="relative flex h-28 w-28 items-center justify-center rounded-full bg-transparent">
            <img src="{% static 'core/img/logo.png' %}"
                 alt="cosound"
                 class="h-28 w-28 object-contain drop-shadow-lg drop-shadow-secondary/30">
        </div>
    </div>
</div>
